.feature-item {
  display: flex;
  padding-bottom: 2.5rem;

  &__icon {
    flex-basis: 100%;
    padding-right: 1.25rem;
    align-self: flex-start;
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 300;
    margin: 0 0 .8rem 0;
  }


}